*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,Helvetica,sans-serif;
}

body{
background:#0b0b0b;
color:white;
line-height:1.6;
}

.hero{
padding:70px 20px;
text-align:center;
background:linear-gradient(135deg,#111,#1a1a1a);
}

.logo{
width:170px;
margin-bottom:20px;
}

.hero h1{
font-size:48px;
margin-bottom:15px;
}

.hero p{
max-width:700px;
margin:auto;
color:#cfcfcf;
font-size:18px;
}

.stats{
display:flex;
justify-content:center;
gap:25px;
flex-wrap:wrap;
margin-top:45px;
}

.stat-card{
background:#171717;
padding:25px;
width:220px;
border-radius:18px;
border:1px solid rgba(255,136,0,.25);
box-shadow:0 10px 30px rgba(255,136,0,.08);
transition:.3s;
}

.stat-card:hover{
transform:translateY(-8px);
border-color:#ff8800;
}

.stat-card h2{
font-size:34px;
color:#ff8800;
}

.stat-card span{
color:#bbb;
}

.review-form{
max-width:800px;
margin:60px auto;
background:#151515;
padding:35px;
border-radius:20px;
}

.review-form h2{
text-align:center;
margin-bottom:25px;
}

.review-form input:not([type="radio"]):not([type="checkbox"]),
.review-form select,
.review-form textarea{
width:100%;
padding:15px;
margin-bottom:18px;
border:none;
border-radius:12px;
background:#222;
color:#fff;
font-size:16px;
}

.review-form textarea{
resize:none;
}

.rating-box{
    text-align:center;
    margin:20px 0 30px;
}

.rating-title{
    font-size:18px;
    margin-bottom:15px;
    color:#fff;
    font-weight:bold;
}

.star-rating{
    display:flex;
    flex-direction:row-reverse;
    justify-content:center;
    align-items:center;
    gap:8px;
}

.star-rating input{
    display:none;
}

.star-rating label{
    font-size:42px;
    color:#555;
    cursor:pointer;
    transition:.2s;
    display:inline-block;
}

.star-rating label:hover,
.star-rating label:hover ~ label{
    color:#ffb400;
}

.star-rating input:checked ~ label{
    color:#ffb400;
}

button{
width:100%;
padding:16px;
background:#ff8800;
color:white;
border:none;
border-radius:12px;
font-size:18px;
font-weight:bold;
cursor:pointer;
transition:.3s;
}

button:hover{
background:#ff9d1f;
}

.reviews{
max-width:1000px;
margin:60px auto;
padding:20px;
}

.reviews h2{
text-align:center;
margin-bottom:40px;
}

.review-card{
background:#171717;
padding:25px;
margin-bottom:25px;
border-radius:18px;
border-left:5px solid #ff8800;
box-shadow:0 12px 30px rgba(0,0,0,.35);
transition:.3s;
}

.review-card:hover{
transform:translateY(-6px);
}

.review-card h3{
font-size:22px;
margin-bottom:8px;
}

.review-card small{
color:#ffb347;
font-weight:bold;
display:block;
margin-bottom:10px;
}

.review-card p{
color:#e5e5e5;
}

footer{
margin-top:80px;
padding:35px;
text-align:center;
background:#111;
color:#999;
}

@media(max-width:768px){

.hero h1{
font-size:34px;
}

.stats{
flex-direction:column;
align-items:center;
}

.stat-card{
width:90%;
}

.review-form{
margin:30px 15px;
}

}
